<main class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="secao">
                <h2 class="text-center">My To-Do List</h2>
            </div>

            <hr>

            <ul class="list-group" id="task-list">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <p>name: name</p>
                        <p>descricao: descricao</p>
                        <p>prioridade: prioridade</p>
                        <p>status: status</p>
                    </div>
                    <div>
                        <button class="btn btn-success btn-sm me-2">Complete</button>
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </div>
                </li>

                <br>
            </ul>
        </div>
    </div>
</main>