<main class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="secao">
                <h2 class="text-center">My To-Do List</h2>
            </div>
            <hr>
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Filters:</h5>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end">
                            <button class="btn btn-primary btn-sm me-2" (click)="selectedFilter('All')">All</button>
                            <button class="btn btn-primary btn-sm me-2" (click)="selectedFilter('Completed')">Completed</button>
                            <button class="btn btn-primary btn-sm" (click)="selectedFilter('In progress')">In progress</button>
                        </div>
                    </div>
                </div>
            <hr>
            <ul *ngFor="let toDo of toDos" class="list-group" id="task-list">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <p>title: {{toDo.name}}</p>
                        <p>description: {{toDo.description}}</p>
                        <p>priority: {{toDo.priority}}</p>
                        <p>status: {{toDo.isCompleted ? 'Completed' : 'In progress'}}</p>
                    </div>
                    <div>
                        <button class="btn btn-success btn-sm me-2">Complete</button>
                        <button [routerLink]="['/detail', toDo.id]" class="btn btn-primary btn-sm me-2">More Details</button>
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </div>
                </li>
                <br>
            </ul>
        </div>
    </div>
</main>